<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yourBeats</title>
    <link rel="icon" href="images/music.ico">
    <link rel="stylesheet" href="styles/styles.css">
</head>
 <%- include('partials/landing.ejs') %>

 <% if(locals.listTasks){ %>
    
        <%for(let i=0;i<locals.listTasks.length;i++){ %>
            <ul>
            <li>
                <input type="checkbox" name="check<%=i %>" id="check<%=i %>">
                <label for="check<%=i %>"><%= listTasks[i] %> </label>
                
            </li>
                
           </ul>
        <% } %> 
 <% } %>

</div>  



</body>
</html>