<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yourBeats</title>
    <link rel="icon" href="images/music.ico">
    <link rel="stylesheet" href="styles/styles.css">
</head>
 <%- include('partials/layout.ejs') %>

 <% if(locals.taskString){ %>
    <p class="query"><%=taskString %></p>
 <% } %>

 <% if(locals.songsDisplay){ %>
        <ul> 
        <%for(let i=0;i<locals.songsDisplay.length;i++){ %>
            <a>
            <li> 
                <img src="<%= songsDisplay[i].img  %>">               
                <span class="sname"> <%= songsDisplay[i].name %> </span>      
                <span class="dur"><%= songsDisplay[i].duration %></span>          
            </li>
                         
        <% } %> 
        </a>
        </ul>
       
        
 <% } %>

</div>  



</body>
</html>